# Python dependencies required for development
astunparse
numpy
psutil
pyyaml
requests
setuptools
types-dataclasses
typing-extensions

setuptools ; python_version >= "3.12"
packaging
accelerate
transformers
ctransformers
bs4
sentence-transformers
nltk
docker
langchain 
pyepsilla
streamlit
accelerate 
datasets 
loralib 
sentencepiece
PyPDF2
sentence_transformers
unstructured
faiss-cpu
ipywidgets
decouple