# Python dependencies required for development
astunparse
numpy
psutil
pyyaml
requests
setuptools
types-dataclasses
typing-extensions
sympy
filelock
networkx
setuptools ; python_version >= "3.12"
packaging
accelerate
transformers
bs4
sentence-transformers
nltk
docker
langchain 
pyepsilla
streamlit
bitsandbytes 
accelerate 
transformers
datasets 
loralib 
sentencepiece
pypdf
sentence_transformers
unstructured
faiss-cpu
ipywidgets